<template lang="pug">
.wrapper
  transition(name="sh")
    router-view(v-if="!loading",@toast="toast")
    .loader(v-else,key=2)
      .inner
        img(src="@/assets/logo.svg")
      .text ...
  .toasts
    .toast(v-for="toast in toasts") {{toast.content}}
</template>

<script lang="ts">
import Login from "./views/Login.vue";

import V, { Toast } from "./v";

declare var require: any;

export default V.extend({
  components: { Login },
  mounted() {
    this.$store.getters.ready.then(() => {
      if (
        !this.$store.state.authenticated &&
        this.$route.name !== "login" &&
        this.$route.name !== "register"
      ) {
        this.$router.push("/login");
      }
      this.loading = false;
    });
  },
  data() {
    return {
      loading: true,
      toasts: [] as Toast[]
    };
  },
  methods: {
    toast(e: Toast) {
      this.toasts.push(e);
      setTimeout(() => {
        this.toasts.pop();
      }, e.ttl);
    }
  },
  computed: {
    authenticated(this: V) {
      return this.$store.state.authenticated;
    }
  },
  watch: {
    authenticated(to, from) {
      if (!to) {
        return;
      }
      this.$router.push("/");
      window.location.reload();
    }
  }
});
</script>
<style lang="sass">
@keyframes rotate
  0%
    transform: rotate(0deg)
  50% 
    transform: rotate(-120deg)
  100%
    transform: rotate(360deg)
@import "../node_modules/ionicons/dist/css/ionicons.min.css"
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro')
body
  --fg-color: #eee
  --secondary-color: #ccc
  --negative-accent-color-light: #ffb7b7
  --neutral-accent-color-light: #b8cfff
  --negative-accent-color: #ff4d4d
  --neutral-accent-color: #4d85ff
  --drop-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.2)
  --bg-color: #181818
  --card-radius: 7.5px
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px
  min-height: 100vh
  background: var(--bg-color)
  color: var(--fg-color)
*
  box-sizing: border-box
*::selection
  background: var(--secondary-color)
.sh-enter-active, .sh-leave-active
  transition: opacity 0.2s
.sh-enter, .sh-leave-to
  opacity: 0
a
  color: var(--neutral-accent-color)
</style>
<style scoped lang="sass">
.wrapper
  width: 100%
  height: 100vh
.text
  color: var(--fg-color)
  font-size: 70px
  height: 60px
  line-height: 0px
  font-weight: bold
.loader
  display: flex
  position: absolute
  z-index: 1
  justify-content: center
  flex-flow: column nowrap
  align-items: center
  width: 100vw
  height: 100vh
  border-radius: 75px
.inner
  height: 200px
  pointer-events: none
  user-select: none
  filter: invert(1)
  border-radius: 50%
  display: flex
  justify-content: center
  align-items: center
  width: 200px
.inner img
  animation: rotate 2.5s ease infinite
  width: 200px
  height: 200px
.toasts
  display: flex
  user-select: none
  position: fixed
  width: 100%
  justify-content: center
  align-items: center
  margin-bottom: 30px
  bottom: 0
  left: 0
  flex-flow: column-reverse nowrap
.toast
  background: var(--fg-color)
  color: var(--bg-color)
  border-radius: var(--card-radius)
  width: auto
  padding: 15px
  display: inline-flex
  justify-content: center
  align-items: center
</style>