<template lang="pug">
.container(:class="{loading:loading, lf:!lf, lk:!lk, ln:ln}")
  .panel
    .form(v-if="lf", @keydown="submit")
      .logo
        .lc
          img(src="@/assets/logo.svg")
        .t Arbitrade
      input.text.user(type="text",autocomplete="off",autocorrect="off",autocapitalize="off",spellcheck="false",placeholder="Username")
      input.text(type="password",placeholder="Password")
      .button(@click="login") Sign In
    .k(v-else)
      .message(v-if="!lk") Enter your verification code
      .verify(v-if="!lk", ref="ver")
        .f
          input.n(@paste="(e) => e.preventDefault()",@input="(e) => { set(e, 0) }",@click="clear",@focus="clear",@keydown="check",type="text",autocomplete="off",autocorrect="off",autocapitalize="off",spellcheck="false")
        .f
          input.n(@paste="(e) => e.preventDefault()",@input="(e) => { set(e, 1) }",@click="clear",@focus="clear",@keydown="check",type="text",autocomplete="off",autocorrect="off",autocapitalize="off",spellcheck="false")
        .f
          input.n(@paste="(e) => e.preventDefault()",@input="(e) => { set(e, 2) }",@click="clear",@focus="clear",@keydown="check",type="text",autocomplete="off",autocorrect="off",autocapitalize="off",spellcheck="false")
        .f
          input.n(@paste="(e) => e.preventDefault()",@input="(e) => { set(e, 3) }",@click="clear",@focus="clear",@keydown="check",type="text",autocomplete="off",autocorrect="off",autocapitalize="off",spellcheck="false")
        .f
          input.n(@paste="(e) => e.preventDefault()",@input="(e) => { set(e, 4) }",@click="clear",@focus="clear",@keydown="check",type="text",autocomplete="off",autocorrect="off",autocapitalize="off",spellcheck="false")
        .f
          input.n(@paste="(e) => e.preventDefault()",@input="(e) => { set(e, 5) }",@click="clear",@focus="clear",@keydown="check",type="text",autocomplete="off",autocorrect="off",autocapitalize="off",spellcheck="false")
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "Login",
  data() {
    return {
      loading: false,
      lf: true,
      lk: true,
      ln: false,
      code: ["", "", "", "", "", ""]
    };
  },
  components: {},
  methods: {
    login() {
      this.loading = true;
      setTimeout(() => {
        this.$nextTick(() => {
          this.lf = false;
        });
        setTimeout(() => {
          this.$nextTick(() => {
            this.lk = false;
            this.$nextTick(() => {
              this.ln = true;
              ((this.$refs.ver! as Element).firstChild!
                .firstChild! as HTMLElement).focus();
            });
          });
        }, 400);
      }, 400);
    },
    check(e: KeyboardEvent) {
      if (e.key === "ArrowLeft") {
        if ((e.target! as Element).parentElement!.previousSibling) {
          ((e.target! as Element).parentElement!.previousSibling!
            .firstChild! as HTMLElement).focus();
        }
      }
      if (e.key === "ArrowRight") {
        if ((e.target! as Element).parentElement!.nextSibling) {
          ((e.target! as Element).parentElement!.nextSibling!
            .firstChild! as HTMLElement).focus();
        }
      }
      if (e.key === "Backspace" || e.key === "Delete") {
        if ((e.target! as HTMLInputElement).value.length !== 0) {
          (e.target! as HTMLInputElement).value = "";
        } else if (
          (e.target! as HTMLInputElement).parentElement!.previousSibling
        ) {
          ((e.target! as HTMLInputElement).parentElement!.previousSibling!
            .firstChild! as HTMLElement).focus();
        }
      }
      if (
        e.key.match(/(?<!\S)([A-z]|[0-9])(?!\S)/) !== null &&
        !e.metaKey &&
        !e.ctrlKey &&
        !e.altKey
      ) {
        if ((e.target! as HTMLInputElement).value.length > 0) {
          if ((e.target! as Element).parentElement!.nextSibling != null) {
            ((e.target! as Element).parentElement!.nextSibling!
              .firstChild! as HTMLElement).focus();
          } else {
            e.preventDefault();
            e.stopPropagation();
          }
        }
      } else if (e.key.length === 1 && !e.metaKey && !e.ctrlKey && !e.altKey) {
        e.preventDefault();
        e.stopPropagation();
      }
    },
    clear(e: Event) {
      this.code[
        Array.prototype.indexOf.call(
          ((e.target! as Element).parentNode!.parentNode! as HTMLElement)
            .children,
          (e.target! as Element).parentElement
        )
      ] = "";
      (e.target! as HTMLInputElement).value = "";
    },
    set(e: Event, n: number) {
      (e.target as HTMLInputElement).value = (e.target as HTMLInputElement).value.toUpperCase();
      this.code[n] = (e.target as HTMLInputElement).value;
    },
    submit(e: KeyboardEvent) {
      if (e.key === "Enter") {
        this.login();
      }
    }
  }
});
</script>

<style scoped lang="sass">
@keyframes rotate
  0%
    transform: rotate(0deg)
  50%
    transform: rotate(-120deg)
  100%
    transform: rotate(360deg)
@keyframes spin
  0%
    transform: scale(1.4)
  12.5%
    transform: scale(4)
  50%
    transform: scale(4)
  75%
    transform: scale(1.4)
  100%
    transform: scale(1.4)
@keyframes fade
  0%
    opacity: 0
  100%
    opacity: 1
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none
  margin: 0
.container
  height: 100%
  width: 100%
  display: flex
  justify-content: center
  align-items: center
.lf .panel
  height: 196px
.panel
  padding: 50px
  padding-top: 50px
  overflow: hidden
  height: 405px
  animation: fade 2s ease
  transition: height 0.3s ease
  position: absolute
  z-index: 10000
  width: 415px
  display: flex
  border-radius: var(--card-radius)
  flex-flow: column nowrap
  position: relative
  justify-content: flex-start
  align-items: center
  background: var(--fg-color)
  color: var(--bg-color)
.loader
  display: flex
  position: absolute
  z-index: -1
  justify-content: center
  flex-flow: column nowrap
  align-items: center
  width: 150px
  height: 150px
  border-radius: 75px
.inner
  height: 200px
  pointer-events: none
  user-select: none
  filter: invert(1)
  border-radius: 50%
  display: flex
  margin-bottom: 30px
  justify-content: center
  align-items: center
  width: 200px
.inner img
  animation: rotate 2.5s ease infinite
  width: 200px
  height: 200px
.ln .k
  opacity: 1
  transition: opacity 1s ease
.k
  display: flex
  opacity: 0
  flex-flow: column-reverse nowrap
input.text
  outline: none
  border: none
  border-radius: var(--card-radius)
  width: 100%
  font-size: 16px
  height: 60px
  padding: 20px
  background: var(--secondary-color)
  color: var(--bg-color)
input.user
  margin-bottom: 30px
.logo
  width: 100%
  margin-bottom: 40px
  display: flex
  opacity: 0.9
  user-select: none
  flex-flow: row nowrap
  align-items: center
  font-weight: bold
  justify-content: center
.t 
  margin-left: 30px
  margin-top: -5px
  font-size: 25px
.logo img
  height: 75px
  user-select: none
  pointer-events: none
  outline: 1px solid transparent
.loading .logo img
  animation: rotate 2.5s ease infinite
.lc
  height: 25px
  width: 25px
  display: flex
  justify-content: center
  align-items: center
.text
  color: var(--fg-color)
  font-size: 70px
.sh-enter-active, .sh-leave-active
  transition: opacity 0.2s
.sh-enter, .sh-leave-to
  opacity: 0
.button
  height: 100%
  background: var(--bg-color)
  color: var(--fg-color)
  margin-top: 30px
  height: 60px
  font-size: 16px
  border-radius: var(--card-radius)
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  user-select: none
  cursor: pointer
  transition: height 0.3s ease, opacity 0.2s ease
.form
  transition: transform 0.8s cubic-bezier(0.23, 1, 0.32, 1)
.loading .form
  transform: translateX(150%)
.verify
  display: flex
  flex-flow: row nowrap
  justify-content: center
  height: 50px
  align-items: center
  transition: opacity 3s ease
input.n
  width: 40px
  height: 40px
  border: none
  border-radius: 20px
  display: inline-block
  text-align: center
  justify-content: center
  align-items: center
  background: var(--secondary-color)
  outline: none
  user-select: none
  font-size: 15px
  color: transparent
  text-shadow: 0 0 0 var(--bg-color)
  text-align: center
input.n:focus
  background: var(--bg-color)
  text-shadow: 0 0 0 var(--fg-color)
input.n::selection
  background: transparent
.f:not(:last-child)
  margin-right: 20px
.message
  text-align: center
  font-weight: normal
  font-size: 1.1em
  margin-top: 30px
  user-select: none
.message strong
  user-select: text
</style>