<template lang="pug">
.container(:class="{loading:loading, lf:!lf, lk:!lk, ln:ln, lm:lm}",ref="container")
  .panel(:class="{tm:pstate==='tsetup',cm:pstate==='cmethod',esm:pstate==='esetup',ecm:pstate==='econfirm',tvs:serr==='ccode'}")
    .form(v-if="lf", @keydown="submit")
      .logo
        .lc
          img(src="@/assets/logo.svg")
        .t Arbitrade
      input.text.tg(v-model="username", type="text",autocomplete="off",autocorrect="off",autocapitalize="off",spellcheck="false",placeholder="Username",:disabled="loading")
      input.text(v-model="password", type="password",placeholder="Password",:disabled="loading")
      .button(@click="login",ref="button") Register
      .error(ref="error") {{error}}
    .k(v-else)
        .ts(v-if="mstate==='tsetup'")
          .message.tmsg(v-if="!lk && !scode && serr !== 'ccode'") Chat with #[strong #[a(href="https://t.me/ArbitradeAssistantBot",target="_blank") @ArbitradeAssistantBot]] on Telegram to complete registration and verify your account
          .message.tmsg(v-if="!lk && scode && serr !== 'ccode'") Your confirmation code is #[strong {{scode}}]
          .message.tmsg.b(v-if="!lk && scode && serr === 'ccode'") Please enter your verification code to complete registration
          .verify.tver(v-if="!lk", ref="ver")
            .f
              input.n(@paste="(e) => e.preventDefault()",@input="(e) => { set(e, 0) }",@click="clear",@focus="clear",@keydown="check",type="text",autocomplete="off",autocorrect="off",autocapitalize="off",spellcheck="false")
            .f
              input.n(@paste="(e) => e.preventDefault()",@input="(e) => { set(e, 1) }",@click="clear",@focus="clear",@keydown="check",type="text",autocomplete="off",autocorrect="off",autocapitalize="off",spellcheck="false")
            .f
              input.n(@paste="(e) => e.preventDefault()",@input="(e) => { set(e, 2) }",@click="clear",@focus="clear",@keydown="check",type="text",autocomplete="off",autocorrect="off",autocapitalize="off",spellcheck="false")
            .f
              input.n(@paste="(e) => e.preventDefault()",@input="(e) => { set(e, 3) }",@click="clear",@focus="clear",@keydown="check",type="text",autocomplete="off",autocorrect="off",autocapitalize="off",spellcheck="false")
            .f
              input.n(@paste="(e) => e.preventDefault()",@input="(e) => { set(e, 4) }",@click="clear",@focus="clear",@keydown="check",type="text",autocomplete="off",autocorrect="off",autocapitalize="off",spellcheck="false")
            .f
              input.n(@paste="(e) => e.preventDefault()",@input="(e) => { set(e, 5) }",@click="clear",@focus="clear",@keydown="check",type="text",autocomplete="off",autocorrect="off",autocapitalize="off",spellcheck="false")
        .ts(v-if="mstate==='econfirm'")
          .message(v-if="!lk") Check your email for a verification code to complete your account
          .verify(v-if="!lk", ref="vert")
            .f
              input.n(@paste="(e) => e.preventDefault()",@input="(e) => { set(e, 0) }",@click="clear",@focus="clear",@keydown="check",type="text",autocomplete="off",autocorrect="off",autocapitalize="off",spellcheck="false")
            .f
              input.n(@paste="(e) => e.preventDefault()",@input="(e) => { set(e, 1) }",@click="clear",@focus="clear",@keydown="check",type="text",autocomplete="off",autocorrect="off",autocapitalize="off",spellcheck="false")
            .f
              input.n(@paste="(e) => e.preventDefault()",@input="(e) => { set(e, 2) }",@click="clear",@focus="clear",@keydown="check",type="text",autocomplete="off",autocorrect="off",autocapitalize="off",spellcheck="false")
            .f
              input.n(@paste="(e) => e.preventDefault()",@input="(e) => { set(e, 3) }",@click="clear",@focus="clear",@keydown="check",type="text",autocomplete="off",autocorrect="off",autocapitalize="off",spellcheck="false")
            .f
              input.n(@paste="(e) => e.preventDefault()",@input="(e) => { set(e, 4) }",@click="clear",@focus="clear",@keydown="check",type="text",autocomplete="off",autocorrect="off",autocapitalize="off",spellcheck="false")
            .f
              input.n(@paste="(e) => e.preventDefault()",@input="(e) => { set(e, 5) }",@click="clear",@focus="clear",@keydown="check",type="text",autocomplete="off",autocorrect="off",autocapitalize="off",spellcheck="false")
        .kz(v-if="mstate==='cmethod'")
          .message Choose a provider to complete your account
          .options
            //.option.google
            //  .oi(@click="google")
            //    .icon.ion-logo-google
            //  .ot Google
            .option.telegram
              .oi(@click="tg")
                .icon.ion-md-paper-plane
              .ot Telegram
            .option.email
              .oi(@click="email")
                .icon.ion-md-mail
              .ot E-mail
        .es(v-if="mstate==='esetup'")
          .message Enter your E-mail address to continue
          .ew
            input.text.email(@keydown="(e) => { e.key==='Enter' && es() }",type="text",autocomplete="off",autocorrect="off",autocapitalize="off",spellcheck="false",placeholder="E-mail")
            .cb(@click="es")
              .icon.ion-md-arrow-forward
  .sopt(@click="asopt",ref="sopt") {{sopt}}
</template>

<script lang="ts">
import V, { Toast, Severity, debounce } from "../v";
declare var require: any;
export default V.extend({
  name: "Register",
  data() {
    return {
      loading: false,
      lf: true,
      lk: true,
      ln: false,
      lm: false,
      code: ["", "", "", "", "", ""],
      mstate: "",
      pstate: "",
      username: "",
      password: "",
      error: "",
      timeout: 0,
      etimeout: 0,
      sopt: "I already have an account",
      tsopt: "",
      ktimeout: 0
    };
  },
  mounted() {
    setTimeout(() => {
      (this.$refs.sopt as HTMLElement).classList.add("init");
    }, 100);
  },
  components: {},
  computed: {
    serr(): string {
      return this.$store.state.error;
    },
    scode(): string {
      return this.$store.state.code;
    }
  },
  watch: {
    serr(to, from) {
      if (to !== "") {
        if (to === "success") {
          this.mstate = "cmethod";
          this.pstate = "cmethod";
          setTimeout(() => {
            this.$nextTick(() => {
              this.lf = false;
            });
            setTimeout(() => {
              this.$nextTick(() => {
                this.lk = false;
                this.$nextTick(() => {
                  this.ln = true;
                  this.lm = true;
                  if (this.mstate === "tsetup") {
                    ((this.$refs.ver as Element).firstChild!
                      .firstChild! as HTMLElement).focus();
                  }
                });
              });
            }, 400);
          }, 400);
          return;
        }
        if (to === "pending") {
          this.loading = true;
          setTimeout(() => {
            this.mstate = "cmethod";
            this.pstate = "cmethod";
            setTimeout(() => {
              this.$nextTick(() => {
                this.lf = false;
              });
              setTimeout(() => {
                this.$nextTick(() => {
                  this.lk = false;
                  this.$nextTick(() => {
                    this.ln = true;
                    this.lm = true;
                    if (this.mstate === "tsetup") {
                      ((this.$refs.ver as Element).firstChild!
                        .firstChild! as HTMLElement).focus();
                    }
                  });
                });
              }, 400);
            }, 400);
          }, 300);
          return;
        }
        if (to === "code") {
          this.loading = true;
          setTimeout(() => {
            this.mstate = "tsetup";
            this.pstate = "tsetup";
            setTimeout(() => {
              this.$nextTick(() => {
                this.lf = false;
              });
              setTimeout(() => {
                this.$nextTick(() => {
                  this.lk = false;
                  this.$nextTick(() => {
                    this.ln = true;
                    this.lm = true;
                  });
                });
              }, 400);
            }, 400);
          }, 300);
          return;
        }
        if (to === "ccode") {
          (this.$refs.ver! as HTMLElement).classList.add("visible");
          this.$nextTick(() => {
            ((this.$refs.ver as Element).firstChild!
              .firstChild! as HTMLElement).focus();
          });
          return;
        }
        setTimeout(() => {
          this.error = this.serr;
          (this.$refs.button as HTMLElement).classList.remove("shake");
          this.$nextTick(() => {
            (this.$refs.button as HTMLElement).classList.add("shake");
            clearTimeout(this.timeout);
            this.timeout = setTimeout(() => {
              (this.$refs.button as HTMLElement).classList.remove("shake");
            }, 700);
          });
          (this.$refs.error as HTMLElement).classList.remove("visible");
          setTimeout(() => {
            (this.$refs.error as HTMLElement).classList.add("visible");
            clearTimeout(this.etimeout);
            this.etimeout = setTimeout(() => {
              if (this.$refs.error as HTMLElement) {
                (this.$refs.error as HTMLElement).classList.remove("visible");
              }
            }, 3000);
          }, 5);
          this.loading = false;
        }, 5);
      }
    },
    mstate(to, from) {
      if (to === "cmethod" || to === "tsetup") {
        setTimeout(() => {
          this.tsopt = "Cancel";
        }, 500);
      }
    },
    tsopt(to, from) {
      clearTimeout(this.ktimeout);
      (this.$refs.sopt as HTMLElement).classList.remove("init");
      setTimeout(() => {
        this.sopt = this.tsopt;
        (this.$refs.sopt as HTMLElement).classList.add("active");
      }, 1000);
    }
  },
  methods: {
    c: debounce(function(this: any) {
      this.$store.dispatch("verify_finalize", this.code.join(""));
    }, 300),
    login() {
      if (!this.username.match(/^[A-Za-z][A-Za-z0-9_]{2,31}$/)) {
        (this.$refs.button as HTMLElement).classList.remove("shake");
        setTimeout(() => {
          (this.$refs.button as HTMLElement).classList.add("shake");
          clearTimeout(this.timeout);
          this.timeout = setTimeout(() => {
            (this.$refs.button as HTMLElement).classList.remove("shake");
          }, 700);
        }, 5);
        if (this.username === "") {
          this.error = "Your username cannot be blank";
        } else if (!this.username.match(/^.{3,}$/)) {
          this.error = "Your username must be at least 3 characters";
        } else if (!this.username.match(/^(?=.{1,32}$).*/)) {
          this.error = "Your username must not be longer than 32 characters";
        } else if (!this.username.match(/^[A-Za-z]/)) {
          this.error = "Your username must begin with a letter";
        } else if (!this.username.match(/^[A-Za-z][A-Za-z0-9_]*$/)) {
          this.error = "Your username must contain only A-z, 0-9, and _";
        } else {
          this.error = "";
        }
        if (this.error !== "") {
          (this.$refs.error as HTMLElement).classList.remove("visible");
          setTimeout(() => {
            (this.$refs.error as HTMLElement).classList.add("visible");
            clearTimeout(this.etimeout);
            this.etimeout = setTimeout(() => {
              (this.$refs.error as HTMLElement).classList.remove("visible");
            }, 5000);
          }, 5);
        }
        return;
      }
      if (
        !this.password.match(
          /^(?=.*\d)(?=.*[A-Z])(?=.*[-$_@#^&*!\./\\,?])[A-ZA-z0-9-$_@#^&*!\./\\,?]{8,64}$/
        )
      ) {
        clearTimeout(this.timeout);
        clearTimeout(this.etimeout);
        (this.$refs.button as HTMLElement).classList.remove("shake");
        setTimeout(() => {
          (this.$refs.button as HTMLElement).classList.add("shake");
          this.timeout = setTimeout(() => {
            (this.$refs.button as HTMLElement).classList.remove("shake");
          }, 700);
        }, 5);
        if (this.password === "") {
          this.error = "Your password cannot be blank";
        } else if (!this.password.match(/^.{8,}$/)) {
          this.error = "Your password must be at least 8 characters";
        } else if (!this.password.match(/^(?=.{1,128}$).*/)) {
          this.error = "Your password must not be longer than 128 characters";
        } else if (
          !this.password.match(/^[A-ZA-z0-9-$_@#^&*!\./\\,?]{8,64}$/)
        ) {
          this.error =
            "Your password must contain only A-z, 0-9, and -$_@#^&*!";
        } else if (!this.password.match(/^(?=.*[A-Z]).*$/)) {
          this.error = "Your password must contain an uppercase letter";
        } else if (!this.password.match(/^(?=.*\d).*$/)) {
          this.error = "Your password must contain a number";
        } else if (!this.password.match(/^(?=.*[-$_@#^&*!]).*$/)) {
          this.error = "Your password must contain one of -$_@#^&*!";
        } else {
          this.error = "";
        }
        (this.$refs.error as HTMLElement).classList.remove("visible");
        setTimeout(() => {
          (this.$refs.error as HTMLElement).classList.add("visible");
          this.etimeout = setTimeout(() => {
            (this.$refs.error as HTMLElement).classList.remove("visible");
          }, 3000);
        }, 5);
        return;
      }
      this.loading = true;
      this.$store.dispatch("register", {
        username: this.username,
        password: this.password
      });
    },
    check(e: KeyboardEvent) {
      if (e.key === "ArrowLeft") {
        if ((e.target! as Element).parentElement!.previousSibling) {
          ((e.target! as Element).parentElement!.previousSibling!
            .firstChild! as HTMLElement).focus();
        }
      }
      if (e.key === "ArrowRight") {
        if ((e.target! as Element).parentElement!.nextSibling) {
          ((e.target! as Element).parentElement!.nextSibling!
            .firstChild! as HTMLElement).focus();
        }
      }
      if (e.key === "Backspace" || e.key === "Delete") {
        if ((e.target! as HTMLInputElement).value.length !== 0) {
          (e.target! as HTMLInputElement).value = "";
        } else if (
          (e.target! as HTMLInputElement).parentElement!.previousSibling
        ) {
          ((e.target! as HTMLInputElement).parentElement!.previousSibling!
            .firstChild! as HTMLElement).focus();
        }
      }
      if (
        e.key.match(/(?<!\S)([A-z]|[0-9])(?!\S)/) !== null &&
        !e.metaKey &&
        !e.ctrlKey &&
        !e.altKey
      ) {
        if ((e.target! as HTMLInputElement).value.length > 0) {
          if ((e.target! as Element).parentElement!.nextSibling != null) {
            ((e.target! as Element).parentElement!.nextSibling!
              .firstChild! as HTMLElement).focus();
          } else {
            e.preventDefault();
            e.stopPropagation();
          }
        }
      } else if (e.key.length === 1 && !e.metaKey && !e.ctrlKey && !e.altKey) {
        e.preventDefault();
        e.stopPropagation();
      }
    },
    clear(e: Event) {
      this.code[
        Array.prototype.indexOf.call(
          ((e.target! as Element).parentNode!.parentNode! as HTMLElement)
            .children,
          (e.target! as Element).parentElement
        )
      ] = "";
      (e.target! as HTMLInputElement).value = "";
    },
    set(e: Event, n: number) {
      (e.target as HTMLInputElement).value = (e.target as HTMLInputElement).value.toUpperCase();
      this.code[n] = (e.target as HTMLInputElement).value;
      if (this.code.filter(a => a === "").length === 0) {
        this.c();
      }
    },
    submit(e: KeyboardEvent) {
      if (e.key === "Enter") {
        this.login();
      }
    },
    tg() {
      this.lk = true;
      this.ln = false;
      setTimeout(() => {
        this.pstate = "tsetup";
        setTimeout(() => {
          this.mstate = "tsetup";
          setTimeout(() => {
            this.$nextTick(() => {
              this.lk = false;
              this.$nextTick(() => {
                this.ln = true;
                if (
                  (this.$refs.vert as Element) &&
                  (this.$refs.vert as Element).firstChild &&
                  (this.$refs.vert as Element).firstChild!.firstChild
                ) {
                  ((this.$refs.vert as Element).firstChild!
                    .firstChild! as HTMLElement).focus();
                }
                this.$store.dispatch("tg_register");
              });
            });
          }, 400);
        }, 100);
      }, 400);
    },
    email() {
      this.lk = true;
      this.ln = false;
      setTimeout(() => {
        this.pstate = "esetup";
        setTimeout(() => {
          this.mstate = "esetup";
          setTimeout(() => {
            this.$nextTick(() => {
              this.lk = false;
              this.$nextTick(() => {
                this.ln = true;
                if ((this.$refs.vert as Element).firstChild) {
                  ((this.$refs.vert as Element).firstChild!
                    .firstChild! as HTMLElement).focus();
                }
              });
            });
          }, 400);
        }, 100);
      }, 400);
    },
    google() {
      this.lk = true;
      this.ln = false;
      setTimeout(() => {
        this.pstate = "gsetup";
        setTimeout(() => {
          this.mstate = "gsetup";
          setTimeout(() => {
            this.$nextTick(() => {
              this.lk = false;
              this.$nextTick(() => {
                this.ln = true;
                ((this.$refs.vert as Element).firstChild!
                  .firstChild! as HTMLElement).focus();
              });
            });
          }, 400);
        }, 100);
      }, 400);
    },
    es() {
      this.lk = true;
      this.ln = false;
      setTimeout(() => {
        this.pstate = "econfirm";
        setTimeout(() => {
          this.mstate = "econfirm";
          setTimeout(() => {
            this.$nextTick(() => {
              this.lk = false;
              this.$nextTick(() => {
                this.ln = true;
                ((this.$refs.vert as Element).firstChild!
                  .firstChild! as HTMLElement).focus();
              });
            });
          }, 400);
        }, 100);
      }, 400);
    },
    asopt() {
      this.$store.dispatch("cancel");
      if (this.sopt === "I already have an account") {
        this.$router.push("/login");
      } else if (this.sopt === "Cancel") {
        (this.$refs.sopt as HTMLElement).classList.remove("active");
        (this.$refs.container as HTMLElement).classList.add("exit");
        setTimeout(() => {
          window.location.reload();
        }, 500);
      }
    }
  }
});
</script>

<style scoped lang="sass">
@keyframes shake
  8%, 41%
    -webkit-transform: translateX(-10px)
  25%, 58%
    -webkit-transform: translateX(10px)
  75%
    -webkit-transform: translateX(-5px)
  92%
    -webkit-transform: translateX(5px)
  0%, 100%
    -webkit-transform: translateX(0)
  
@keyframes rotate
  0%
    transform: rotate(0deg)
  50%
    transform: rotate(-120deg)
  100%
    transform: rotate(360deg)
@keyframes spin
  0%
    transform: scale(1.4)
  12.5%
    transform: scale(4)
  50%
    transform: scale(4)
  75%
    transform: scale(1.4)
  100%
    transform: scale(1.4)
@keyframes fade
  0%
    opacity: 0
  100%
    opacity: 1
@keyframes bifade
  0%
    opacity: 0
  10%
    opacity: 1
  75%
    opacity: 1
  100%
    opacity: 0
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none
  margin: 0
.container
  height: 100%
  width: 100%
  display: flex
  justify-content: center
  flex-flow: column nowrap
  align-items: center
.lf .panel
  height: auto
.lf .cm.panel
  height: 223px
.lf .tm.tvs.panel
  height: 206px
.lf .tm.panel
  height: 136px
  justify-content: center
.lf .esm.panel
  height: 223px
  justify-content: center
.lf .ecm.panel
  height: 223px
  justify-content: center
.panel
  padding: 50px
  padding-top: 50px
  overflow: hidden
  height: 405px
  animation: fade 2s ease
  transition: height 0.3s ease
  position: absolute
  z-index: 10000
  width: 415px
  display: flex
  border-radius: var(--card-radius)
  flex-flow: column nowrap
  position: relative
  justify-content: flex-start
  align-items: center
  background: var(--fg-color)
  color: var(--bg-color)
.loader
  display: flex
  position: absolute
  z-index: -1
  justify-content: center
  flex-flow: column nowrap
  align-items: center
  width: 150px
  height: 150px
  border-radius: 75px
.inner
  height: 200px
  pointer-events: none
  user-select: none
  filter: invert(1)
  border-radius: 50%
  display: flex
  margin-bottom: 30px
  justify-content: center
  align-items: center
  width: 200px
.inner img
  animation: rotate 2.5s ease infinite
  width: 200px
  height: 200px
.lm .k
  transition: opacity 0.5s ease
.ln .k
  opacity: 1
  transition: opacity 0.5s ease
.k
  opacity: 0
  width: 100%
.ts
  flex-flow: column-reverse nowrap
  justify-content: center
  align-items: center
  display: flex
.loading .form input.text
  color: var(--fg-color)
input.text
  outline: none
  border: none
  border-radius: var(--card-radius)
  width: 100%
  font-size: 16px
  height: 60px
  transition: color 0.3s ease
  padding: 20px
  background: var(--secondary-color)
  color: var(--bg-color)
input.user
  margin-bottom: 30px
input.tg
  margin-bottom: 30px
.logo
  width: 100%
  margin-bottom: 40px
  display: flex
  opacity: 0.9
  user-select: none
  flex-flow: row nowrap
  align-items: center
  font-weight: bold
  justify-content: center
.t 
  margin-left: 30px
  margin-top: -5px
  font-size: 25px
.logo img
  height: 75px
  user-select: none
  pointer-events: none
  outline: 1px solid transparent
.loading .logo img
  animation: rotate 2.5s ease infinite
.sm-fade-enter-active
  transition: all .3s ease
.sm-fade-leave-active
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0)
.sm-fade-enter, .sm-fade-leave-to
  transform: translateX(10px)
  opacity: 0
.lc
  height: 25px
  width: 25px
  display: flex
  justify-content: center
  align-items: center
.text
  color: var(--fg-color)
  font-size: 70px
.button.shake
  animation: shake 0.5s linear
.loading .button
  background: var(--secondary-color)
.button
  height: 100%
  background: var(--bg-color)
  color: var(--fg-color)
  margin-top: 30px
  height: 60px
  font-size: 16px
  border-radius: var(--card-radius)
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  user-select: none
  cursor: pointer
  transition: height 0.3s ease, opacity 0.2s ease, background-color 0.3s ease
.form
  transition: opacity 0.8s cubic-bezier(0.23, 1, 0.32, 1)
.cm .form
  opacity: 0
.verify
  display: flex
  flex-flow: row nowrap
  justify-content: center
  height: 50px
  align-items: center
  transition: opacity 3s ease
input.n
  width: 40px
  height: 40px
  border: none
  border-radius: 20px
  display: inline-block
  text-align: center
  justify-content: center
  align-items: center
  background: var(--secondary-color)
  outline: none
  user-select: none
  font-size: 15px
  color: transparent
  text-shadow: 0 0 0 var(--bg-color)
  text-align: center
input.n:focus
  background: var(--bg-color)
  text-shadow: 0 0 0 var(--fg-color)
input.n::selection
  background: transparent
.f:not(:last-child)
  margin-right: 20px
.message
  text-align: center
  font-weight: normal
  font-size: 1.1em
  line-height: 1.4
  margin-top: 30px
  user-select: none
.kz .message
  margin-top: 0
.message strong
  user-select: text
.option
  display: flex
  justify-content: center
  align-items: center
  flex-flow: column nowrap
.option:not(:last-child)
  margin-right: 40px
.oi
  background: var(--secondary-color)
  height: 50px
  width: 50px
  cursor: pointer
  border-radius: 25px
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
.oi:hover
  background: var(--bg-color)
.oi:hover .icon  
  color: var(--fg-color)
.ot
  text-align: center
  margin-top: 10px
.options
  margin-top: 30px
  user-select: none
  display: flex
  flex-flow: row nowrap
  width: 100%
  justify-content: center
  align-items: center
.options .icon
  font-size: 20px
  color: var(--bg-color)
.es .message
  margin-bottom: 30px
  margin-top: 0
.ew
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
input.email
  width: calc(100% - 65px)
.cb
  width: 60px
  margin-left: 15px
  cursor: pointer
  height: 60px
  background: var(--secondary-color)
  display: flex
  justify-content: center
  align-items: center
.cb .icon
  color: var(--bg-color)
  font-size: 30px
.cb:hover .icon
  color: var(--fg-color)
.cb:hover
  background: var(--bg-color)
.tver
  overflow: hidden
  height: 0
.tver.visible
  height: auto
.tmsg
  margin-top: 0
.error
  width: 100%
  text-align: center
  opacity: 0
  whitespace: nowrap
  font-size: 0.9em
  margin-top: 18px
  color: var(--negative-accent-color)
.error.visible
  animation: bifade 5s
.loading .button
  cursor: initial
.sopt.active
  transition: opacity 1s ease
  opacity: 1
.sopt
  margin-top: 20px
  color: var(--secondary-color)
  cursor: pointer
  user-select: none
  transition: opacity 2s ease
  opacity: 0
.sopt:not(.init):not(.active)
  opacity: 0
  transition: opacity 1.2s ease
.sopt.init:not(.active)
  transition: opacity 2s ease
  opacity: 1
.sopt:hover
  color: var(--fg-color)
.container.exit
  animation: fade 0.4s ease reverse
  opacity: 0
.tmsg.b
  margin-top: 30px
</style>